.single_dialog{
 
    width: 402px;
    margin: 0 auto 0px auto;
    display: inline-block;
    max-width: 400px;
    clear: left;
}

.dialog_container:hover{
    background: #C0C8CF;    
}
    
.dialog_user_photo{
    float: left;
    width: 50px;
    height: 50px;
}

.dialog_text{
    width: 320px;
    float: left;
    text-align: left;
    margin-left: 5px;
    word-wrap: break-word;
    font-size: 11pt;
}

.dialog_user_name{
    font-weight: bold;
    color:#45162A;
}

.dialog_container{
    width: 400px;
    display: inline-block;
    clear: left;
    padding: 5px 0px 5px 5px;
    background: #DDE5EC;
    border: solid 1px #BDC5CC;
}

.unread_message_dialog_container {
    background: #A7D8DE;
    border: solid 1px #BDC5CC;
}

.last_message_user_photo{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    float: left;
}

.dialog_date{
    width: inherit;
    position: relative;
    font-size: 8pt;
    font-family: Arial;
    color:black;
    text-decoration: underline;
    padding-bottom: 5px;
    
    
}