#header 
{
    width: 900px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 0 auto;
    background-color: #4DB1BC;
    position: relative;
}

#logo
{
    width:50px;
    height:50px;    
}

#logo_container
{
    width:50px;
    height:50px;
    float: left;
    position: relative;
    top: 50%;
    margin-top: -25px;
    margin-left: 20px;
    
}

#logo_text_container
{
    float: left;
    width: 100px;
    position: relative;
    display: inline-block;
    height: inherit;
    line-height: inherit;
    vertical-align: middle;
    margin-left: 5px;
}

#logo_text_link
{
    text-decoration: none;
}

#people_link_container
{
    float: left;
    position: relative;
    margin-left: 180px; 
    border-right: solid 1px #449DA7; 
    border-left:solid 1px #449DA7; 
    padding-left: 15px; 
    padding-right: 15px;
}

#photoquest_link_container
{
    float: left;
    position: relative;
    border-right: solid 1px #449DA7;
    padding-left: 15px; 
    padding-right: 15px;
}

#people_link_container:hover
{
    background:#449DA7;
    color:#E4E4E4;
}

#photoquest_link_container:hover
{
    background:#449DA7;
    color:#E4E4E4;
}

.header_menu
{
     font-size: 1.3em; 
     color: #ffffff; 
     text-decoration: none;
     font-weight: bold;
     font-family: "arial";
     font-variant: normal;     
}

#header_menu_container:hover
{
    color:#E4E4E4;
    background:#449DA7;
    height: inherit;
       
}
#logo_text_link:hover
{
    background: #4DB1BC;
    color: #ffffff;
}

#people_link
{   
    border-left:solid 1px #449DA7;
}

.header_bunnon:hover
{
    color:#E4E4E4;
    background:#449DA7;
}

#sign_out_button_container
{
    margin-right: 15px;
    float: right;
    vertical-align: bottom;
    position: relative;
    top:2px;
}
.header_bunnon
{
    background-color: #4DB1BC;
    font-size: 12pt; 
    color: #ffffff; 
    font-weight: bold;
    font-family: sans-serif; 
    font-variant: normal;
    cursor: pointer;
    border: none;
    position: relative;
    vertical-align: bottom;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#logo_text
{
    font-family: "arial"; 
    font-size: 16pt;
    color: #ffffff;        
} 

.header_bunnon:hover
{
    background:#449DA7;
    color:#E4E4E4;    
}

.header_button_text
{
    position: relative;
    bottom: 2px;      
}

#back_button{
     margin-left: 75px; 
     position: relative;
     top:2px
}
