body {
    font: 80.5% "Trebuchet MS", sans-serif;
    margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;
    padding: 0;
    background-color: aliceblue;
    position: relative;
}

#add_photoquest_button {
    position: absolute;
    right: 0px;
    top: 0px;
}

.list_item {
    cursor: pointer; cursor: hand;
    background-color: #ffffff;
}

.list_item_hover {
    background-color: #efecff;
}

#login_form_container {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 20px;
}

label {
    display: block;
}

input {
    display: block;
}

#login_form input {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    color: #84091e;
}

.count_widget {
    background-color: #560400;
    color: #ffffff;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
    cursor: hand;
}

.hand_cursor {
    cursor: pointer; cursor: hand;
}