body {
    font: 10pt "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    overflow-y: scroll;
}

#body_container
{
    width: 900px;
    margin: 0 auto 0 auto;            
    padding-bottom: 70px;
}


.button
{   
    font-size: 10pt;
    background:#4DB1BC;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    /*padding: 3px 5px;*/
    font-weight: bold;
    padding:5px 10px;
    text-decoration: none;
    cursor: pointer;
    font-size:10pt;
    font-family: sans-serif;
}

.button:hover
{   
    background:#46172B;
    color: #ffffff;
    cursor: pointer;
}

#center_page_container
{
    width: 696px;
    margin-left:200px;
    border-left: solid 1px silver;
    border-top: solid 1px white;
    min-height: 500px;
    border-bottom: 1px solid silver;
    margin-bottom: -1px;
    
    
    
}

#center_and_user_block_container

{   
    position: relative; 
    height: 100%;   
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    min-height: 500px;
    background-color: #ffffff;
    width: 898px;
}


.count_widget {
    background-color: #560400;
    color: #ffffff;
    padding: 4px 6px;
    border-radius: 2px;
    cursor: pointer;
    cursor: hand;
    font-size: 10pt;
}

a {
    color:black;
    text-decoration:none
}

.filters
{
    border-bottom: solid 1px #C0C0C0;
    padding:10px 0 5px 0px;
    width: 100%;
    text-align: left;
    margin-top: -1px;
    background-color:#F7F7F7;
   
}

.sorting_selector{
    display: inline-block;
    float: left;
    font-size: 10pt;
    font-weight: bold;
    position: relative;
    left: 115px;
}

.location_filter{
    display: inline-block;
    width: 400px;
    clear: left;
    padding-bottom: 5px;
}

.filters_title{
    font-size: 10pt;
    text-align: center; 
    font-weight: bold;
    color:#46172B ;   
}


.name_filter{
    display: inline-block;
    width: 530px;
    float: left;
    padding-bottom: 5px;    
}

.inputs_container{
    position: relative;
    clear: left;
    left:15px
}


.name_filter_label{
    width: 100px;   
    float: left;        
    font-size: 10pt;   
    font-weight: bold;     
}

.location_filter_label{
    width: 100px;  
    font-size: 10pt;
    float: left;
    font-weight: bold;

}


.filter_search_button{
    position: relative;
    left: 165px; 
    bottom: 5px;  
}

.gender_selector{
    display: inline-block;
    position: relative;
    left: 145px;
    font-size: 10pt;
    bottom: 3px;
    font-weight: bold;
}

.filters select{
    position: relative;
    left: -2px;
}

.tab_container{
    width: 100%;
    text-align: center;
    background-color: #94D6D6;
    font-family:"Trebuchet MS";
    font-size: 10pt;
    font-weight: bold;
    padding-right: 1px;
    margin-top: -1px;
}

.category_tabs_container
{
    width: 697px;
    text-align: center;
    position: relative;
    background: #D4ECEC;
    font-family:"Trebuchet MS";
    font-size: 10pt;
    border-top: solid 1px #6AACAC;
}

.category_tabs_container a{
    background: #D4ECEC;
    
}

.rating_tab
{
    display: inline-block;
    
}

.rating_tab a{
    border-left: solid 1px #6AACAC;
    border-right: solid 1px #6AACAC;
    
    
}

.select_quests_tab{
    border: solid 1px black;
    height: 18px;
    
}

.tab
{   
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background: #94D6D6;
    border-left: solid 1px #6AACAC;
    border-right: solid 1px #6AACAC;
    color: #3E4242;
    display: inline-block;
    margin: 0px;

    
}
#friends_tabs{
    border-top: solid 1px silver;
}
#friends_tabs a{
    margin-left: -5px;
}

#following_quests_link{
    border: none;
    margin-left: -4px;
}

#performed_link{
    margin-left: -4px;
}

#hottest_link{
    margin-left: -4px;
}

#most_rated_link{
    margin-left: -4px;
    border: none;
}

a.tab.disabledTab {
    background: #0012d6;
}

.tab:hover, a.tab.activeTab
{
    background: white;
}


.filter_input{
     padding: 3px 0 3px 3px;   
    text-shadow: 0px 1px 0px #fff;   
     background: -webkit-gradient(linear, left top, left bottom, from(#D1F3FF), to(#EEFFFF));
    background: -moz-linear-gradient(top,  #D1F3FF,  #EEFFFF);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #76AABA;
    box-shadow:  1px 1px 0px #efefef;
}

.filter_input:focus{
    background: #ffffff;
    border: solid 2px #71AAFA;
    padding: 2px 0px 2px 3px;
    
     
}



.selector{     
     border: solid 1px #76AABA;
     border-radius: 4px;  
     padding: 1px;  
      background: -webkit-gradient(linear, left top, left bottom, from(#D1F3FF), to(#EEFFFF));
    background: -moz-linear-gradient(top,  #D1F3FF,  #EEFFFF);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #76AABA;
    box-shadow:  1px 1px 0px #efefef;
}

.photos_container{
    padding-left: 22px;
}

.text_font{
    font-family:jester;
}

button:focus{
    outline: none;
}

button:active {
    padding:0  calc(.35em - 1px); 
    }