
#body_container
{
    width: 900px;
    margin: 0 auto 0 auto;            
    padding-bottom: 70px;
}


.button
{
    background:#4DB1BC;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    /*padding: 3px 5px;*/
    font-weight: bold;
    padding: 0.5em 0.8em;
    text-decoration: none;
    cursor: hand;
    cursor: pointer;
}

.button:hover
{   
    background:#46172B;
    color: #ffffff;
    cursor: pointer;
}

#center_page_container
{
    width: 696px;
    margin-left:200px;
    border-left: solid 1px silver;
    border-top: solid 1px white;
    min-height: 500px;
    border-bottom: 1px solid silver;
    margin-bottom: -1px;
    
    
    
}

#center_and_user_block_container

{   
    position: relative; 
    height: 100%;   
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    min-height: 500px;
    background-color: #ffffff;
    width: 898px;
}


.count_widget {
    background-color: #560400;
    color: #ffffff;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
    cursor: hand;
}

