#messages_container{
    margin: 30px;
    width: 480px;
    height: 300px;
    overflow: scroll;
    border-width: 1px;
    border-color: #969696;
    border-style: solid;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
    padding-top: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    
}

#message_form{
    width: 480px;
    margin: 0 auto 0 auto;
}

#message_textarea{
    height: 48px;
    width: 358px;
    padding: 0 5px 0 5px;
    display: inline-block;
    margin: 0 5px 0 5px;
    float: left;
}

.single_message{
    min-width: 450px;
    clear: left;
    margin-left: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.message_user_photo{
    width: 40px;
    height: 40px;
    float: left;
   
}

.message_text{
    width: 340px;
    float: left;
    margin-left: 5px;
    text-align: left;
    word-wrap: break-word;
    font-size: 11pt;
}

.message_text a{
    font-weight: bold;
    color: #44192E;
    font-size: 10pt;
}

.message_text a:hover{
    text-decoration: underline;
}

#message_button_container{ 
    min-height: 40px;
    clear: left;
    margin: 0;
    width: 370px;
    text-align: right;
    position: relative;
}

.message_date{
    display: inline-block;
    font-size: 8pt;
    font-family: Arial;
    float: right;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
    color: #515151;
}
