


.single_people
{   
    padding-top: 20px;
    width: 517px;
    min-height: 130px;   
    border-bottom: solid 1px silver;
    position: relative;
    left: -66px;
    max-height: 200px;
 
  
}

.people_title{
    width: 697px;
    text-align: center;
}

.people_avatar
{
   height: 150px;
   width: 150px;
   margin-right: 10px;
   float: left;
  
   
}


.people_info_container
{
    font-size: 12pt;
    height: 170px;
    width: 355px;
    text-align: left;
    max-width: 365px;
    position: absolute;    
    color:#000000 ;
    right: #44192D;
    word-wrap: break-word;
    left: 165px;
}

.add_friend_button
{
     margin-left: -1px;
     margin-top: 15px;
}

.send_message_button
{
     
    margin-top: 5px;
    margin-left: -1px;
}

.people_page
{
    width: 697px;
    position: relative;
}

.user_info_text
{
    color:#44192D;
	font-size: 13pt;
}


.friend_requests_button{
    display: inline-block;
    width: 350px; 
    float:left;  
    word-wrap: break-word; 
    margin-bottom: 10px; 
    margin-top: 10px;
    font-size: 11pt;
}

.add_friend_button{   
    display: inline-block;
}

.people_link:hover{
       text-decoration: underline;
}

.people_title a{
    float: left;
    color:#44192D ;
    font-weight: bold;    
}

.friend_title_user_avatar{
    display: inline-block; 
    float:left; 
    min-width: 100%;
    margin-left: 25px; 
    position: relative; 
    height: 20px;
    top:-55px;
}

.friend_title_user_avatar a:hover{
    text-decoration: underline;
}