


.single_people
{
   width: 350px;
   height: 150px;
   margin-bottom: 20px;
   margin-left: -250px;
   padding-bottom: 20px;
   border-bottom: solid 1px silver;
 
  
}

.people_avatar
{
   height: 150px;
   width: 150px;
   float: left;
   border: solid 1px #44192D;
  
   
}

.people_info_container
{
    font-size: 12pt;
    height: 150px;
    width: 185px;
    text-align: left;
    max-width: 185px;
    margin-left: 150px; 
    padding-left: 10px; 
   
    color:#44192D ;
    word-wrap: break-word;
    word-break: break-all;
}


.people_info_container span
{
    font-weight: bold;
}


#add_friend_button
{
 
     margin-left: -1px;
}

#send_message_button
{
     
    margin-top: 5px;
     margin-left: -1px;
}