
.single_photo_container{
    width: 150px;
    height: 150px;
    float: left;  
    margin-right: 15px;
    margin-bottom: 15px;
}

.photoquest_pagination_container{
    clear: left;
}

h1{
    color:#45162A;
}