#photo_container{
    text-align: center;
    border-bottom: solid 1px silver;
    padding-bottom: 15px;
    background: #DCDCDC;
    min-height: 400px;
}

#photo_info {
    min-width: inherit;
    position: relative;
    text-align: center;
    display: inline-block;
    float: left;
}

#photo_likes_count {
    display: inline-block;
    float: left;
    
}

#photo_position {
    display: inline-block;
    float: right;
}

.comment_likes_count {
    float:left;
}
#comments_container {
    width: 500px;
    height: auto;
    background: #ffffff;
    border:  solid 1px silver;
    padding: 0;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#photo_img{
    width: inherit;
    text-align: center;
}

#photo_content{
    
}

#photo_image{
    margin: 0 auto 0 auto;
}

#next_button{
    float: right;
    position: relative; 
    margin-right: 5px;
}

#prev_button{
    position: relative;
    float: left;
    margin-left: 5px;
}

.photo_controls_buttons{
    border-style: none;
    border: solid 1px #B8C0C7;
    background: #F2F2F2;
    font-weight: bold;
    color: #383838;
    padding: 4px 14px;
    text-align: center;
    margin-top: 5px;
    
}

.photo_controls_buttons:hover{
    cursor: pointer;
    background: #D5DDE4;
}


.photo_date{
    display: inline-block;
    float: left;
    padding-top: 3px;
    font-size: 10pt;
}

.comment_textarea_container{
    width: 500px;
}


.comment_textarea_container textarea{
    width: 495px;
    max-width: 495px;
    height: 40px;
    max-height: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.comment_button_container{
    width: inherit;
    text-align: right;
}

@-moz-document url-prefix() {
     .comment_button_container{
        margin-top:4px;
     }

}

.silver_button{
    border-style: none;
    border: solid 1px silver;
    background:#ffffff;
    padding: 5px 12px;
    font-weight: bold;
    font-size: 10pt;
    color:#262626 ;
}

.silver_button:hover{
    background: #EAEAEA;
    cursor: pointer;
}

.comment_user_photo{
    display: inline-block;
    float: left;
    
}

.comment_text{
    width: 435px;
    float: left;
    text-align: left;
    word-wrap: break-word;
    margin-left: 5px;
}

.commment_user_link{
    color: #46172B;
    font-weight: bold;
}

.comment_text a:hover{
    text-decoration: underline;
}



.comment_likes_container{
    float: left;
    display: inline-block;
    
    padding: 0;
}

.comment_likes_container .count_widget{
    margin: 0 5px 0 0;
}

.reply_button_container{
    display: inline-block;
    
    
}

#photo_position{
    background: #24AAD7;
}

.reply_button{
    border: none;
    float: right;
    background: none;
    margin-right: 10px;
    line-height: 25px;
    vertical-align: central;
    font-weight: bold;
    color: #4090E1;
}

.reply_button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.delete_button:hover{
    text-decoration: underline;
    cursor: pointer;
    
}



.delete_button{
    float: right;
    border: none;
    background: none;
    line-height: 25px;
    vertical-align: central;
    font-weight: bold;
    margin-right: 5px;
    border-style: none;
    border: none;
    color: #4090E1;
}

.comment_likes_container .button{

    margin: 5px 5px 5px 0;
}
.comment_buttons{
    display: inline-block;
    min-width: 100%;
    margin-top: 5px;
}

.single_comment{
    display: inline-block;
    max-width: 500px;
    margin-top: 10px;
    margin-left: 5px;
    clear: left;
    border-bottom: solid 1px silver;
    padding-bottom: 5px;
}

.show_more_comments_button{
    width: 480px;   
    background: #DDE5EC;
    height: 30px;
    border-style: none;
    vertical-align: central;
    border: solid 1px #BAC2C9;
    font-weight: bold;
    font-size: 10pt;
    color: #383838;
    line-height: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.show_more_comments_button:hover{
    cursor: pointer;
    background: #CDD5DC;
}
.photo{
    text-align: center;
    display: inline-block;
    background: #ffffff;
    padding: 15px 15px 10px 15px;
    margin: 15px auto 0 auto;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.photo_controls{
    min-width: 100%;
    display: inline-block; 
    margin-bottom: -15px;   
}

.comments_block{
    width: 500px; 
    margin-left: 50px;
    
}

.comment_date{
    font-family: sans-serif;
    font-size: 8pt;
    color: #5B5B5B;
}

.comment{
    font-size: 11pt;
}

.show_more_button_container{
    width:500px; 
    text-align: center; 
}

.photo_message{
    font-size: 12pt; 
    min-width: 100%; 
    text-align: left;
    position: relative;
    word-wrap: break-word;
    display: inline-block;
}

.photo_main_info_container{
    float: right;
    width: 250px;
    margin-right: 50px;
    background: #ffffff;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    padding-top: 5px;
    padding-left: 9px;
    padding-bottom: 9px;
    clear: left;   
    color: #696969;
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
}
.photo_info_user{
    height: 50px;
    width: 245px;
    margin-top: 5px;
    color: #45172B;
    font-size: 10pt;
    font-weight: bold;
}

.photo_info_quest{
    height: 50px;
    width: 245px;
    clear: left;
    margin-top: 5px;
    color: #45172B;
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.photo_main_info_container a{
    color: #45172B;
}

.photo_main_info_container a:hover{
    text-decoration: underline;
}

.set_as_avatar_button{
    display: inline-block;
    float: left;
    margin-top: 10px;
}

.set_as_avatar_button .button{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0;
}

.photo-likes-container{
    float: left;  
    display: inline-block; 
    min-width: 180px;
    margin: 0 5px 0 10px;
}

.reply_form_container{
    display: inline-block;
    float: left;
    margin-left: 55px;
}

.reply_form{
    width: 300px;
}
.reply_form textarea{
    width: 295px;
    height: 35px;
    max-width: 295px;
    max-height: 35px;
}

.views_photo_container{
   margin-top:2px;
}