
.single_photo_container{
    width: 150px;
    height: 150px;
    float: left;  
    margin-right: 15px;
    margin-bottom: 15px;
}

.photoquest_pagination_container{
    clear: left;
}

h1{
    color:#45162A;
}

.photos_title_user_avatar{
    display: inline-block; 
    float:left;  
    position: absolute; 
    left: 220px;
    top:40px;
}

.like_eye_container{
    width: 100%;
    height: 20px;
    background: black;
    position: relative;
    top:150px;
    opacity: 0.7;
    text-align: center;
}

.like_eye_container img{
    margin-top: 1px;
    float:left;
}

.photo_counts{
    display: inline-block; 
    margin-left: 4px; 
    color: white; 
    float: left;
}