.quests_container 
{
        
    margin: 30px 0 50px 0px;
    border: solid 1px #ffffff;
}
.photoquest_views_count 
{
    text-align: left;
    position: relative;   
    border:solid 1px black;
    display: inline-block;
    float: right;
    background: #45172B;
    color: #ffffff;
    padding: 0 2px 0 2px;
    top:130px
    
    
}



.photoquest_container
{
    border-bottom: solid 1px silver;
    width: 600px;
    text-align: left;
    max-height:170px ;
    margin-top: 20px;
    position: relative;
    left: -24px;
    
}

.photoquest_img_container
{
    width: 150px; 
    height: 170px;    
}

.photoquest_info_container
{
    position: relative;
    width: 430px;
    max-width: 430px;
    max-height: 170px;
    height: 170px;
    left: 165px;
    bottom: 170px;
    font-size: 10pt;
    color:#000000;    
}

.photoquest_info_quest_name
{
    font-size: 13pt;
    color: #381323;    
    word-wrap: break-word;
}

.photoquest_info_container button
{
    margin-left: -1px;
}

.photoquest_img
{
	position:absolute;
	width:150px;
	height:150px;
}
.quest_name_link{
   color:#44192D;
   font-size: 12pt; 
}

.quest_name_link:hover{
    text-decoration: underline;
}

.quest_info{
    text-align: center;
    width: 100%;
}

.quest_info h1{
    color: #46172B;
}

.creator_of_quest{
    display: inline-block; 
    min-width: 100%; 
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 10pt;
    font-weight: bold;
}
.creator_of_quest a{
    color: #45172B;
}
.creator_of_quest a:hover{
    text-decoration: underline;
}
.creator_of_quest img{
    margin: 0 5px 0 0 ;
}

#create-button{
    float: right;
    display: inline-block;
    position: absolute;
    right: 20px;
    margin-top: 2px;
    

}

#search-quest{
    float:left;
    display: inline-block;
    margin-left: 20px;
    line-height: 25px;
}

#search-quest input{
    min-height: 18px;
    height: inherit;
}