.profile_container
{
    padding-top: 15px;   
}

.profile_avatar
{

    position:absolute;
    left: 215px;
    padding: 0;
}

.profile_feed_container
{   
    position: relative;
    margin-top: 30px;
    border-top: solid 1px silver;
    width: 90%;
    padding-top: 20px;
}

.profile_info_container
{   
    position: relative;
    width: 380px;
    text-align: left;
    height: 250px;
    left: 125px;
    word-wrap: break-word;
    font-size:12pt;
    
}

.profile_user_name
{
    font-size: 14pt;
    color: #46172B;
}

.feed_content
{
    width: 410px;
    margin-bottom: 10px;
}
.single_post
{
    
    width: 300px;
    margin: 0 auto 10px auto;
    text-align: left;
    word-wrap: break-word;
    font-size: 12pt;
    font-family: "Trebuchet MS";
    padding-left: 50px;
    padding-right: 35px;
    padding-bottom: 20px;
    border-bottom: solid 1px #4DB1BC; 
    margin-top: 20px;
    
   
}

.post_photo
{
    position: relative;      
}

.post_user_avatar{
    float: left;
    margin-left: -55px;
    margin-top: 4px;
    padding-right: 5px;
    
}

.post_container{
    position: relative;
    left: -50px;
    width: 300px;
    padding-left: 69px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-right: 14px;  
    background: #E8E8E8;
}


.post_info a{
    display: inline-block;
    font-weight: bold;
    color:#46172B;
    
}


.post_info{
    margin-bottom: 5px; 
    margin-top: -10px;
    padding: 0;  

     
}

.post_info a:hover{
    text-decoration: underline;
}

.user_name_of_post{
    color:#46172B;
    font-weight: bold;
}

.user_name_of_post a{
    position: relative;
    color: #46172B;
    font-size: 11pt;
  
}

.user_name_of_post a:hover{
    text-decoration: underline;
}

.post_date{
    font-family: sans-serif;
    font-size: 10pt;
    border-bottom: solid 1px silver;
    padding-bottom: 17px;
}

.post_photo_likes_count{
    position: relative;
    bottom: 5px;
    display: inline-block;
    background: #560400;
    border: solid 1px #560400 ;
    border-radius: 2px;
    color: #ffffff;
    font-size: 10pt;
    cursor: pointer;
    cursor: hand;
    padding: 2px 3px;
}

.feed_title{
    font-size: 13pt;
}