.profile_container
{
    padding-top: 15px;   
}

.profile_avatar
{

    position:absolute;
    left: 215px;
    padding: 0;
}

.profile_feed_container
{   
    position: relative;
    margin-top: 30px;
    border-top: solid 1px silver;
    width: 90%;
    padding-top: 20px;
}

.profile_info_container
{   
    position: relative;
    width: 380px;
    text-align: left;
    height: 250px;
    left: 125px;
    word-wrap: break-word;
    font-size:12pt;
    
}

.profile_user_name
{
    font-size: 14pt;
    color: #46172B;
}

.feed_content
{
    width: 410px;
    margin-bottom: 10px;
}
.single_post
{
    
    width: 300px;
    margin: 0 auto 10px auto;
    text-align: left;
    word-wrap: break-word;
    font-size: 12pt;
    font-family: "Trebuchet MS";
    padding: 5px 5px;
   
}

.post_photo
{
    position: relative;  
    padding-top: 5px;     
}

.post_user_avatar{
    float: left;
    margin-left: -55px;
    margin-top: 4px;
    padding-right: 5px;
    
}

.post_container{
    position: relative;
    left: -50px;
    width: 300px;
    padding-left: 60px;
    padding-bottom: 20px; 
    border-bottom: solid 1px #4DB1BC; 
    padding-right: 20px;  
}

.post_info span{
    color:#46172B;
    font-weight: bold;
}

.feed_content h3{
    color:#46172B;
}