.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}
.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: hand;
    cursor: pointer;
}
.autocomplete-selected {
    background: #F0F0F0;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}
.autocomplete-group {
    padding: 2px 5px;
}
.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

#register_title{
    width: 100%;
    text-align: center;
    color: #46172B;
}

#register_form{
    display: inline-block;
    margin-left: 50px;
    margin-top: 15px;
}

#register_form input[type="text"], input[type="password"]{
    width: 155px;
    margin-bottom: 10px;
}

#register_form label{
    color: #46172B;
}

.select_location_input{
    background: -webkit-gradient(linear, left top, left bottom, from(#D1F3FF), to(#EEFFFF));
    background: -moz-linear-gradient(top,  #D1F3FF,  #EEFFFF);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #76AABA;
    box-shadow:  1px 1px 0px #efefef;
}

#register_error_message {
    color: #c00726;
}


