 #replies_container {
        margin: 30px auto 0 auto;
        width: 500px;
        text-align: center;
 }
 
 .replies_page{
    width: 100%;
    text-align: center;
 }
 
 h1{
    color:#46172B ;
 }
 
 .single_reply{
    width: 400px;
    word-wrap: break-word;
    margin: 0 auto 15px auto;
    text-align: left;
    font-size: 11pt;
    border-bottom: solid 1px #4DB1BC;
    padding-bottom: 10px;
    clear: left;
 }
 
 .reply_user_link{
    font-size: 11pt;
    font-weight: bold;
    color: #46172B;
    position: relative;
    width: 273px;
    word-wrap: break-word;

 }
 
 .reply_user_link:hover{
    text-decoration: underline;
 }
 
.reply_text{
    position: relative;
    width: 273px;
    word-wrap: break-word;
       
 }
 
 .reply_user_photo{  
    float: left; 
    position: relative;
    display: inline-block;
    margin-left: 5px;
 }
 
.replay_photo{
    position: relative;
    float: left;
    float: right;
    margin-right: 5px;
 }
 
 .single_reply_container{
    width: 400px;
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 5px;
    background: #E8E8E8;
    clear: left;
 }
 
 .reply_text_container{
    float: left;
    width: 273px;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;

 }
 
.replay_date{
    font-family: Arial;
    font-size: 8pt;
    text-decoration: underline;
    padding-bottom: 5px;
    
}