
.main_info_container{
    text-align:left;
    width: 100%;
    padding-bottom: 15px;

}

.main_info_container #change_location_input, input[type="text"]{
    background: -webkit-gradient(linear, left top, left bottom, from(#D1F3FF), to(#EEFFFF));
    background: -moz-linear-gradient(top,  #D1F3FF,  #EEFFFF);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #76AABA;
    box-shadow:  1px 1px 0px #efefef;
    width: 170px;
}
.select_location_input{
   width: 170px; 
   height: 20px;
}

#change_location_input:target{
    border: 1px solid #76AABA;
    -webkit-box-shadow: 0px 0px 5px #007eff;
    -moz-box-shadow: 0px 0px 5px #007eff;
    box-shadow: 0px 0px 5px #007eff;    
}

#settings{ 
    text-align: left;
    
}

#settings_page{
      background: #ffffff;
}
.password_info_container{
     text-align: left;
     width: 100%;
     padding-bottom: 20px;
     border-top: solid 1px #C0C8CF;
     padding-right: 1px;
     margin-top: -30px;
     
}
.password_info_container input[type="text"]{
    background: -webkit-gradient(linear, left top, left bottom, from(#D1F3FF), to(#EEFFFF));
    background: -moz-linear-gradient(top,  #D1F3FF,  #EEFFFF);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #76AABA;
    box-shadow:  1px 1px 0px #efefef;
    width: 170px;
}

.password_info_container input[type="text"]:focus{
    -webkit-box-shadow: 0px 0px 5px #007eff;
    -moz-box-shadow: 0px 0px 5px #007eff;
    box-shadow: 0px 0px 5px #007eff;    
}

.change_main_info{
    display: inline-block;
    text-align: left;
    margin-left:50px;
}

.change_main_info label{
    margin-top: 10px;
    color: #480B1D;
}

.change_button{
	display:inline-block;
    text-align: left;
    margin-top: 15px;
}

.change_password{
    display: inline-block;
    text-align: left;
    margin-left: 50px;
}

.change_password label{
     color: #480B1D;
     margin-top: 10px;    
}

h2{
    color: #480B1D;
}

.location_label{
    font-weight: bold;
    color: #4772DF;
}

.current_location{
    font-weight: bold;
    color: #696969;
}