#welcome-page{
    height: 500px;
    width: 100%;
    /*background-color: #A9B1C2;*/
    background-image: url(../images/welcome.png);
    margin-top: -1px;
    padding-right: 1px;
    padding-bottom: 1px;
}

#welcome-title{
    width: 100%;
    text-align: center;
    font-size: 15pt;
    display: inline-block;
    color:#ffffff;
    text-shadow: 1px 1px 1px black, 0 0 2px black;
    margin-top: 30px;
}

#welcome-text{
    display: inline-block;
    min-width: 450px;
    max-width: 450px;
    color:#ffffff;
    font-size: 13pt;
    text-align: left;
    word-wrap: break-word;
    float: left;
    min-height: 123px;
    text-shadow: 1px 1px 1px black, 0 0 1px black;
    
}

#camera-img{
    float: left;
    margin-left: 20px;
    margin-top: -10px;
}

#welcome-main-container{
    display: inline-block;
    margin: 0 auto 0 auto;
    margin-top: 30px;
}

#welcome-logo-container{
    color: #46172B;
    text-shadow: 1px 1px 1px #CCCCCC, 0 0 1px #CCCCCC;
    display: inline-block;
    margin: 60px auto 0 auto;
}

#welcom-logo{
    float: left;
}

#welcome-logo-text{
    display: inline-block;
    float: left;
    text-align: left;
    font-size: 16pt;
    margin-left: 20px;
}





