<!DOCTYPE html>
<html lang='en' ng-app="main" ng-controller="Main">
<head>
    <meta charset="UTF-8"/>
    <meta ng-if="isAndroidWelcome()" name="viewport" content="width=device-width">
    <title>
        PhotoQuest
    </title>

    <!--INCLUDE-->
    <link rel="stylesheet" type="text/css" href="css/login-style.css"/>
    <link rel="stylesheet" type="text/css" href="css/ngDialog.css"/>
    <link rel="stylesheet" href="css/ngDialog-theme-default.css"/>
    <link rel="stylesheet" href="css/ngDialog-theme-plain.css"/>
    <link rel="stylesheet" href="css/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/pagination.css"/>
    <link rel="stylesheet" href="css/user_left_sidebar.css"/>
    <link rel="stylesheet" href="css/register.css"/>
    <link rel="stylesheet" href="css/people.css"/>
    <link rel="stylesheet" href="css/photoquests.css"/>
    <link rel="stylesheet" href="css/photoquest.css"/>
    <link rel="stylesheet" href="css/profile.css"/>
    <link rel="stylesheet" href="css/replies.css"/>
    <link rel="stylesheet" href="css/dialogs.css"/>
    <link rel="stylesheet" href="css/messages.css"/>
    <link rel="stylesheet" href="css/photo.css"/>
    <link rel="stylesheet" href="css/settings.css"/>
    <link rel="stylesheet" href="css/welcome.css"/>
    <link rel="stylesheet" href="css/first_quest.css"/>
    <link rel="stylesheet" href="css/ng-tags-input.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/about.css"/>


    <script type="application/javascript" src="js/angular-file-upload-shim.js"></script>
    <script type="application/javascript" src="js/angular.min.js"></script>
    <script type="application/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="application/javascript" src="js/utilities.js"></script>
    <script type="application/javascript" src="js/ngDialog.js"></script>
    <script type="application/javascript" src="js/string.js"></script>
    <script type="application/javascript" src="js/angular-file-upload.js"></script>
    <script type="application/javascript" src="js/angular-cookies.js"></script>
    <script type="application/javascript" src="js/array.js"></script>
    <script type="application/javascript" src="js/dirPagination.js"></script>
    <script type="application/javascript" src="js/object.js"></script>
    <script type="application/javascript" src="js/pagination-init.js"></script>
    <script type="application/javascript" src="js/infinite_scroll.js"></script>
    <script type="application/javascript" src="js/http.js"></script>
    <script type="application/javascript" src="js/jquery.autocomplete.js"></script>
    <script type="application/javascript" src="js/scroll-utils.js"></script>
    <script type="application/javascript" src="js/ng-tags-input.js"></script>
    <script type="application/javascript" src="js/controllers.js"></script>
    <script type="application/javascript" src="js/angular-sanitize.min.js"></script>
    <script type="application/javascript" src="js/translation.js"></script>
    <script type="application/javascript" src="js/xregexp-all-min.js"></script>

    <script type="application/javascript" src="js/main.js">

    </script>
    <script type="application/javascript" src="js/textarea.js"></script>
    <script type="application/javascript" src="js/thumbnail.js"></script>
    <script type="application/javascript" src="js/file-select-container.js"></script>
    <script type="application/javascript" src="js/tab-link.js"></script>
    <script type="application/javascript" src="js/location_input.js"></script>
    <script type="application/javascript" src="js/country_input.js"></script>
    <script type="application/javascript" src="js/city_input.js"></script>
    <script type="application/javascript" src="js/search_select.js"></script>
    <script type="application/javascript" src="js/shortcut.js"></script>
    <script type="application/javascript" src="js/profile_buttons.js"></script>
    <script type="application/javascript" src="js/header.js"></script>
    <script type="application/javascript" src="js/login.js"></script>
    <script type="application/javascript" src="js/register.js"></script>
    <script type="application/javascript" src="js/photoquests.js"></script>
    <script type="application/javascript" src="js/photos.js"></script>
    <script type="application/javascript" src="js/people.js"></script>
    <script type="application/javascript" src="js/photo.js"></script>
    <script type="application/javascript" src="js/profile.js"></script>
    <script type="application/javascript" src="js/dialogs.js"></script>
    <script type="application/javascript" src="js/messages.js"></script>
    <script type="application/javascript" src="js/replies.js"></script>
    <script type="application/javascript" src="js/feed.js"></script>
    <script type="application/javascript" src="js/settings.js"></script>
    <script type="application/javascript" src="js/first_quest.js"></script>
    <script type="application/javascript" src="js/progress.js"></script>
    <script type="application/javascript" src="js/about.js"></script>
    <!--INCLUDE-->

    <style ng-if="isAndroidWelcome()">
        body {
            margin: 0;
            padding: 0;
            background-color: #4DB1BC;
            text-align: center;
            width:100%;
        }

        h2 {
            color: white;
        }

        a {

        }
    </style>
</head>
<body>
<div id="body" ng-show="!isAndroidWelcome()">

<div ng-include="'html/header.html'">

</div>
<div id="body_container">

    <div id="center_and_user_block_container">

        <div id="left_user_block"
             ng-show="getPath() !== 'photo' && getPath() !== 'first'"
             ng-include="'html/login.html'">

        </div>

        <div ng-if="getPath() !== 'photo' && getPath() !== 'first'"
             align="center" id="center_page_container" ng-include="getCenterPageContent()">
        </div>

        <div id="photo_content" ng-if="getPath() === 'photo'"
             ng-include="'html/photo.html'">
        </div>


        <div id="first_quest_content" ng-if="getPath() === 'first'"
             ng-include="'html/first_quest.html'">
        </div>

    </div>
</div>
<div id="footer">
    <br/>
    © PhotoQuest 2015<br/>
    photoquest@gmail.com<br/>
    <a ng-href="#?path=about">{{tr.founders}}</a>
</div>

</div>

<div ng-show="isAndroidWelcome()">
<img alt="" style="margin:30px auto 0 auto" height="100px" src="images/logo_for_adnroid.png"/>
<br/>
<div style="display:inline-block; color:#ffffff;
		font-family:arial; word-wrap: break-word;
		text-shadow: 1px 1px 1px black, 0 0 2px black;
		padding: 0 5px 0 5px;">
    <h2>{{tr.welcomeToPhotoQuest}}</h2>
    <h4>{{tr.firstWelcomeText}}</h4>
    <h4>{{tr.secondWelcomeText}}</h4>
    <h4>{{tr.thirdWelcomeText}}</h4>
</div>
<br/>
<a href=""><img ng-src={{tr.androidLink}} /></a>
<a ng-href="#?path=quests"><img ng-src={{tr.siteLink}} /></a>
</div>
</body>

</html>
