<div style="width: 300px;" class="dialog-contents">
    <span style="color: #46172B; font-size: 14pt; font-weight: bold;">{{tr.uploadImage}}</span>

        <div file-select-container
             preview-container-id="preview"
             preview-width="100"
             preview-height="100"
             select-file-button-id="select_file_button" class="select_photo_form"  >
            <div style="margin-top: 0;">
                <button style="margin-top: 0;" id="select_file_button" class="button" >{{tr.selectFile}}</button>
                <span style="font-size: 10pt;">{{file.name ? file.name.getPreview(25, "...") : tr.noFileSelected}}</span>
            </div>
            <div id="preview" >

            </div>
        </div>
        <label class="photo_description_label" >
            {{tr.enterPhotoDescription}}
            <textarea ng-model="message"  class="photo_description_textarea" style=" min-height: 30px; min-width: 300px; max-height: 80px; max-width: 300px;">

            </textarea>
        </label>
        <div ng-if="quest && !quest.isFollowing" ng-init="follow=true">
            <input id="follow_checkbox" type="checkbox" ng-model="follow" />
            {{tr.followPhotoquest}}
        </div>
        <div ng-show="errorMessage" class="error_text_color">
            {{errorMessage}}
        </div>
        <div style="display:inline-block;">
            <button style="float: left;" class="button" ng-click="uploadPhoto()">{{tr.publish}}</button>
			<img ng-show="uploadPhotoLoading" style="float:right; position:relative; top:3px;"
                         src="../images/mini_loading.gif" height="20" width="20" class="loading_small"/>
        </div>

</div>