<style>
#create_photoquest_error_message {
    color: #b10001;
}
</style>
<div style="width: 300px; align-self: center" class="dialog-contents" title="Create new photoquest">
    <h2>{{tr.enterPhotoquestName}}</h2>

    <form ng-init="maxTags = 7">
        <input ng-model="createQuestName" name="name" type="text"/>
        <div>
            <tags-input ng-model="tags"
                        min-length="3"
                        max-length="20"
                        max-tags="{{maxTags}}"
                        add-on-space="true"
                        add-on-comma="false"
                        allowed-tags-pattern="([^\u0000-\u0080]|[a-zA-Z])+"
                    ></tags-input>
        </div>
        <div id="create_photoquest_error_message" ng-show="tags.length > maxTags || errorMessage">
            <div ng-show="tags.length > maxTags">
                {{tr.only}} {{maxTags}} {{tr.tagsAreAllowed}}!
            </div>
            <div ng-show="errorMessage">
                {{errorMessage}}
            </div>
        </div>
        <div>

        </div>
        <br>
        <div ng-init="follow=true">
            <input id="follow_checkbox" type="checkbox" ng-model="follow" />
            {{tr.followPhotoquest}}
        </div>
        <div style="display:inline-block;">
            <button style="float: left;" class="button" ng-click="createPhotoquest()" >{{tr.create}}</button>
			<img style="float:right; position:relative; top:3px;"
                 ng-show="showLoading"
                         src="../images/mini_loading.gif" height="20" width="20" class="loading_small"/>
        </div>
    </form>
</div>