<style>
#many_tags_error_message {
    color: #b10001;
}
</style>
<div style="width: 300px; align-self: center" class="dialog-contents" title="Create new photoquest">
    <h2>Enter photoquest name</h2>

    <form ng-init="maxTags = 7">
        <input ng-model="createQuestName" name="name" type="text"/>
        <div>
            <tags-input ng-model="tags"
                        min-length="3"
                        max-length="20"
                        max-tags="{{maxTags}}"
                        add-on-space="true"
                        add-on-comma="false"
                        allowed-tags-pattern="([^\u0000-\u0080]|[a-zA-Z])+"
                    ></tags-input>
        </div>
        <div id="many_tags_error_message" ng-show="tags.length > maxTags">
            Only {{maxTags}} tags are allowed!
        </div>
        <br>
        <div ng-init="follow=true">
            <input id="follow_checkbox" type="checkbox" ng-model="follow" />
            Follow photoquest
        </div>
        <div>
            <button class="button" ng-click="createPhotoquest()" >Create</button>
        </div>
    </form>
</div>