<div style="width: 300px; align-self: center;"  class="dialog-contents">
    <h2>{{tr.deletePhotoText}}?</h2>
    <div style="display:inline-block; min-width: 100%; margin: 0 auto 0 auto;">
        <button ng-click="deletePhoto()" style="float: left;" class="button"  >{{tr.deletePhoto}}</button>
        <button style="float: left; margin-left: 10px;" 
        class="button" ng-click="cancel()">{{tr.cancel}}</button>
        <img ng-show="showLoading" style="float:left; margin-left: 10px; position:relative; top:3px;"
        src="../images/mini_loading.gif" height="20" width="20" class="loading_small"/>
    </div>
</div>