<div class="left_container" ng-controller="LoginController">
    <form id="login_form" ng-show="!getSignedInUser()">
        <label>
            Enter your login
            <input name="login" ng-model="login" type="text">
        </label>
        <label>
            Enter your password
            <input name="password" ng-model="password" type="password">
        </label>
        <button ng-click="signin();">Sign In</button>
        <button ng-click="register()">Register</button>
    </form>

    <div ng-show="getSignedInUser()">
        <div id="user_avatar">
            <img width="100px" height="100px" ng-src="{{avatar}}" />
        </div>
        <div>
            <a class="user_info" ng-href="{{'##path=profile&id=' + getSignedInUser().id}}" ng-show="getSignedInUser()">
                Profile
            </a><br />
            <a  class="user_info" ng-href="##path=dialogs" ng-show="getSignedInUser()">
                Messages
            </a><br />
            <a class="user_info" ng-href="##path=friends" ng-show="getSignedInUser()">
                Friends
            </a>
        </div>
    </div>
</div>