<div id="user_left_sidebar_block" ng-controller="LoginController">
    <form id="login_form" ng-show="!getSignedInUser()">
        <label>
            Enter your login
            <input name="login" ng-model="login" type="text">
        </label>
        <label>
            Enter your password
            <input name="password" ng-model="password" type="password">
        </label>
        <button class="button"  id="button_sign_in" ng-click="signin();">Sign In</button><br />
        <a id="register_link" href="#?path=register">
            Register
        </a>
    </form>

    <div id="user_menu_block" ng-show="getSignedInUser()">
        <div id="user_avatar">
            <thumbnail size="120" src="getSignedInUser().avatar"></thumbnail>
        </div>

        <div id="user_menu" >
            <div class="user_menu_link_container">
                <a class="user_info_link" ng-href="{{'#?path=profile&id=' + getSignedInUser().id}}">
                    <span class="user_button">Profile</span>
                </a>
            </div>
            <div class="user_menu_link_container">
                <a  class="user_info_link" ng-href="#?path=dialogs">
                   <span class="user_button"> Messages {{getSignedInUser().unreadMessagesCount}}</span>
                </a>
            </div>
            <div class="user_menu_link_container">
                <a class="user_info_link" ng-href="#?path=friends">
                     <span class="user_button">Friends {{getSignedInUser().friendRequestsCount}}</span>
                </a>
            </div>
            <div class="user_menu_link_container">
                <a class="user_info_link" ng-href="#?path=following_quests">
                    <span class="user_button">My photoquests</span>
                </a>
            </div>
            <div class="user_menu_link_container">
                <a class="user_info_link" ng-href="#?path=news">
                    <span class="user_button"> News</span>
                </a>
            </div>
            <div class="user_menu_link_container">
                <a class="user_info_link" ng-href="#?path=replies">
                     <span class="user_button">
                         Replies
                         <span ng-show="getSignedInUser().unreadRepliesCount">
                             (+{{getSignedInUser().unreadRepliesCount}})
                         </span>
                     </span>
                </a>
            </div>    
            <div class="user_menu_link_container">
                <a class="user_info_link">
                     <span class="user_button">Settings</span>
                </a>
            </div>
        </div>
    </div>
</div>