<div ng-show="messages && user && getSignedInUser()"
     ng-controller="MessagesController" style="width: 600px; align-self: center;">
    <div style="text-align: center; position: relative">
        <h1>Messages</h1>
    </div>
    <div id="messages_container"
        top-infinite-scroll="messages" stopped="{{!user}}"
        page-size="3"
        load-url="/messages?userId={{userId}}" class="wrapper">              
        
        <div class="single_message" ng-repeat="message in messages" ng-click="openMessages(dialog)">
            <a ng-href="#?profile_{{message.fromUserId}}">
                <div class="message_user_photo">
                    <thumbnail size="40" src="message.fromUserId == getSignedInUser().id
                    ?
                    getSignedInUser().avatar : user.avatar"></thumbnail>
                </div>
            </a>
            <div class="message_text">
                <a ng-href="#?path=profile&id={{message.fromUserId}}">
                    {{getMessageTitle(message)}}
                </a><br />                                       
                {{message.message}}
           </div>
           <div class="message_date"> 11 Dec<br />at 20:25</div>
        </div>  
                   
    </div>
    <div id="message_form">
        <div style="display: inline-block; float: left;">
            <thumbnail size="50" src="getSignedInUser().avatar"></thumbnail>
        </div>
        <div >
            <div>
                <textarea class="message_textarea" ng-model="messageText" > </textarea>
            </div>
        </div>
        <div style="display: inline-block; float: left;">
            <thumbnail size="50" src="user.avatar"></thumbnail>
        </div>
        <div id="message_button_container" >
            <button class="button" id="button_send" ng-show="messageText != ''" ng-click="sendMessage()">
                Send
            </button>
        </div>
    </div>
</div>