<div ng-show="messages && user && getSignedInUser()"
     ng-controller="MessagesController" style="width: 600px; align-self: center;">
    <div style="text-align: center; position: relative">
        <h1>{{tr.messages}}</h1>
    </div>
    <shortcut></shortcut>
    <div id="messages_container"
         show-more-load="messages"
         stopped="{{!user}}"
         show-more-id="show_more_messages_button"
         limit="10"
         url="//messages?userId={{userId}}"
         direction="up"
         reload-func-name="reloadMessages"
         loading-flag="showLoading"
         class="wrapper">

            <div class="show_more_button_container" style="width: 465px; margin-bottom: 5px;">
                <button id="show_more_messages_button" class="show_more_comments_button" style="width: 454px;
                 margin-top: 0;">
                    Show more...
                </button>
            </div>
            <div style="width: 100%; text-align: center;">
            <img ng-show="showLoading" src="../images/mini_loading.gif" style="margin:0 auto 0 auto;"
                 height="20" width="20" class="loading_small"/>
            </div>
    
            <div class="single_message" ng-repeat="message in messages" ng-click="openMessages(dialog)">
                <a ng-href="#?path=profile&id={{message.fromUserId}}">
                    <div class="message_user_photo">
                        <thumbnail size="40" src="message.fromUserId == getSignedInUser().id
                        ?
                        getSignedInUser().avatar : user.avatar"></thumbnail>
                    </div>
                </a>
                <div class="message_text" >
                    <a  ng-href="#?path=profile&id={{message.fromUserId}}">
                        {{getMessageTitle(message)}}
                    </a><br />
                    <span ng-bind-html="getMessageText(message)" class="messages_text_font" style="font-size: 11pt;">
                    </span>
               </div>
               <div class="message_date">
                   {{
                   Utilities.getDayRaw(message.addingDate) + " "
                   }}
                   {{
                   Utilities.getMonthRaw(message.addingDate)
                   }}
                   <br />
                   {{
                   "at " + Utilities.getHoursAndMinutesRaw(message.addingDate)
                   }}
               </div>
            </div> 
            <img ng-show="showSendMessageLoading" src="../images/mini_loading.gif" style="margin-left: 15px;
            margin-bottom: 10px;"
                 height="20" width="20" class="loading_small"/>
    </div>

    <div id="message_form">
        <div style="display: inline-block; float: left;">
            <thumbnail size="50" src="getSignedInUser().avatar"></thumbnail>
        </div>
        <div >
            <div>
                <textarea id="message_textarea" maxlength="255" ng-model="messageText"></textarea>
            </div>
        </div>
        <div style="display: inline-block; float: left;">
            <img ng-src="{{user.avatar}}?size=50" width="50px" height="50px" />
        </div>
        <div id="message_button_container" >
            <button class="comment_button" id="button_send"
                    ng-click="sendMessage()">
                Send
            </button>
        </div>
    </div>
</div>