<div ng-controller="PeopleController" class="people_page">
    <div class="filters"> 
        <div ng-init="gender=getGender()">
            <div class="inputs_container">            
                <div class="name_filter_label">
                    By name
                </div>      
                <div class="name_filter">                   
                    <input class="filter_input" style="width: 273px;" ng-model="filter" />
                </div>
                <div class="location_filter_label">
                    Enter location
                </div>
                <div class="location_filter">                   
                    <input class="filter_input" style="width: 273px;" location-input />
                </div>
            </div>  
            <div  class="sorting_selector">
            Sort by
                <select class="selector" style="position: relative;left: 10px;" search-select="order">
                    <option value="newest">Registration date</option>
                    <option value="rated">Rating</option>
                </select>
            </div>  
            <div class="gender_selector">
                Gender
                <select ng-model="gender" class="selector" style="position: relative;left: 10px;">
                    <option value="">Select gender</option>
                    <option value="true">Male</option>
                    <option value="false">Female</option>
                </select>
            </div>  
            <a class="filter_search_button" ng-href="{{getSearchHref()}}">
                <button class="button">
                    Search
                </button>
            </a>          
        </div>
    </div>
    <div class="tab_container" style="width: 697px;  padding-right:0;" ng-show="showFriendTabs">
        
        <table id="tabs_table">
    <tr>
        <td class="support_col" ></td>
        <td>
            <a tab-link disabled="{{contentIsLoading}}"
               class="tab{{getOrder() === 'newest'  ? ' activeTab' : ''}}"
               ng-href="#?path=friends">
                Friends
            </a>
        </td>
        <td>
            <a  tab-link disabled="{{contentIsLoading}}"
               class="tab{{getOrder() === 'rated'  ? ' activeTab' : ''}}"
               ng-href="#?path=sent_requests" >
                Sent requests
            </a>
        </td>
        <td>
            <a tab-link disabled="{{contentIsLoading}}"
               class="tab{{getOrder() === 'hottest'  ? ' activeTab' : ''}}"
               ng-href="#?path=received_requests" style="padding-left: 5px; padding-right: 5px;">
               Received requests
            </a>
        </td>
        <td class="support_col" ></td>         
    </tr>
    </table>
        
    </div>                    
    <div class="people_title">
        <h1>People</h1>
    </div> 
    <img  src="../images/loading.gif" height="50" width="50" class="loading"/>        
        <div class="single_people" dir-paginate="user in users | itemsPerPage: pageSize" total-items="totalItems"
             current-page="pageNumber"
                >

            <div class="people_avatar">
                <a ng-href="#?path=profile&id={{user.id}}">
                    <thumbnail size="150" src="user.avatar"></thumbnail>
                </a>
            </div>
            <div class="people_info_container">
                <a class="people_link" ng-href="#?path=profile&id={{user.id}}">
                    <span class="user_info_text">{{user.name + " " + user.lastName}}</span><br/>
                </a> 
                   
                {{user.country}}<br/> {{user.city}}<br/>

                <div class="add_friend_button">
                    <button class="button" ng-show="getSignedInUser()" ng-click="addOrRemoveFriend(user)">
                        {{getToggleFriendStatusButtonName(user)}}
                    </button>
                    <img src="../images/mini_loading.gif" style="position: relative; top:4px" 
                    height="20" width="20" class="loading_small"/>
                </div>
                <div class="friend_requests_button" ng-show="user.relation === 'request_received'">
                    <button class="button" ng-click="addOrRemoveFriend(user, true)">
                        Decline friend request
                    </button>
                </div>
                <div class="send_message_button">
                    <a ng-href="#?path=messages&id={{user.id}}">
                        <button class="button" ng-show="getSignedInUser()">
                            Write message
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div>
            <dir-pagination-controls boundary-links="true"
                                     on-page-change="onPageChanged(newPageNumber)"
                                     template-url="html/pagination_template.html">
            </dir-pagination-controls>
        </div>
    </div>
</div>