<div ng-controller="PeopleController" class="people_page">
    <div class="filters"> <span>Filters</span><br/>
        <div>
            <div>
                Sort By
                <select search-select="order">
                    <option value="newest">Registration date</option>
                    <option value="rated">Rating</option>
                </select>
            </div><br />
            <div>
                Enter location
                <input location-input />
            </div>
    
            Enter filter
            <input ng-model="filter" />
            <br/>
            <a ng-href="{{getSearchHref()}}">
                <button class="button">
                    Search
                </button>
            </a>
            
        </div>
    </div>
    <div class="tab_container" style="width: 697px; height: 18px; padding-right:0;" ng-show="showFriendTabs">
        <div class="category_tab" style="position: absolute; left: 193px;"  >
            <a class="tab" ng-href="#?path=friends">
                Friends
            </a>
            <a class="tab" ng-href="#?path=sent_requests">
                Sent requests
            </a>
            <a class="tab" ng-href="#?path=received_requests">
                Received requests
            </a>
        </div> 
    </div>                     
    <div style="text-align: center; ">
        <h1>People</h1>
    </div>        
        <div class="single_people" dir-paginate="user in users | itemsPerPage: pageSize" total-items="totalItems"
             current-page="pageNumber"
                >

 <div class="people_avatar">
                <a ng-href="#?path=profile&id={{user.id}}">
                    <thumbnail size="150" src="user.avatar"></thumbnail>
                </a>
            </div>
            <div class="people_info_container">
                <a ng-href="#?path=profile&id={{user.id}}">
                    <span class="user_info_text">{{user.name + " " + user.lastName}}</span><br/>
                </a> 
                   
                {{user.country}}<br/> {{user.city}}<br/>

                <div class="add_friend_button">
                    <button class="button" ng-show="getSignedInUser()" ng-click="addOrRemoveFriend(user)">
                        {{getToggleFriendStatusButtonName(user)}}
                    </button>
                </div>
                <div ng-show="user.relation === 'request_received'">
                    <button class="button" ng-click="addOrRemoveFriend(user, true)">
                        Decline friend request
                    </button>
                </div>
                <div class="send_message_button">
                    <a ng-href="#?path=messages&id={{user.id}}">
                        <button class="button" ng-show="getSignedInUser()">
                            Write message
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div>
            <dir-pagination-controls boundary-links="true"
                                     on-page-change="onPageChanged(newPageNumber)"
                                     template-url="html/pagination_template.html">
            </dir-pagination-controls>
        </div>
    </div>
</div>