<div id="photoquests_page" ng-controller="PhotoQuests">
    <div class="tab_container">
        
        <div  ng-show="showRatingTab" ng-include="'html/tabs.html'">       
        
        </div>        
    </div>
    <div>
        <h1>{{title}}</h1>
        <div>
            <button ng-show="getSignedInUser()" class="button" ng-click="openCreatePhotoquestDialog()">
                Create PhotoQuest
            </button>
        </div>
        <br />
        <div >
            <input  style="width: 175px; margin-bottom: 5px;" class="filter_input" ng-model="filter" /><br />
            <a  ng-href="{{getSearchHref(filter)}}">
                <button class="button">
                    Search
                </button>
            </a>
        </div>
    </div>
    <div class="quests_container">
        <div class="photoquest_container" dir-paginate="quest in quests | itemsPerPage: pageSize"
             total-items="totalItems"
             current-page="pageNumber"
                >
            <div class="photoquest_img_container">
                <a ng-href="#?path=quest&id={{quest.id}}">
                    <thumbnail class="photoquest_img" size="150" src="quest.avatar"></thumbnail>
                </a>

                <div class="photoquest_views_count">
                    {{quest.viewsCount}}
                </div>

            </div>

            <div class="photoquest_info_container">
                <a class="quest_name_link" ng-href="#?path=quest&id={{quest.id}}">
                    <span class="photoquest_info_quest_name">{{quest.name}}</span><br/><br/>
                </a>
                
                <span >
                    Created by {{quest.user.name + " " + quest.user.lastName}}<br/><br/>
                </span>

                <button class="button" class="photoquest_info_follow_button" ng-click="toggleFollowState(quest);"
                        ng-show="getSignedInUser()">
                    {{quest.isFollowing ? "Unfollow" : "Follow"}}
                </button>
            </div>

        </div>
    </div>

    <div>
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="onPageChanged(newPageNumber)"
                                 template-url="html/pagination_template.html">
        </dir-pagination-controls>
    </div>
</div>