<style>
    #photoquest_content {
        align-self: center;
    }
</style>
<div id="photoquest_content" ng-controller="PhotoQuest" >
    <h1 ng-show="!contentLoaded">Loading...</h1>
    <div ng-show="contentLoaded">
        <h1>{{quest.name}}</h1>
        <div>
            <button ng-click="openAddPhotoDialog()">Add Photo</button>
        </div>
        <br>
        <div ng-repeat="photo in photos" ng-click="onPhotoClick(photo)">
            <img width="200" height="200" ng-src="{{photo.url + '?width=200&height=200'}}" />
        </div>
    </div>
</div>