<style>
    .quest_container {
        align-self: center;
        margin: 30px;
    }

    .photoquest_views_count {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 10px;
    }
</style>
<div ng-controller="PhotoQuests" style="width: 600px; align-self: center;">
    <div ng-show="showRatingTab">
        <a ng-href="{{getNewestHref()}}">
            Newest
        </a>
        <a ng-href="{{getMostRatedHref()}}">
            Most rated
        </a>
    </div>
    <div style="text-align: center; position: relative">
        <h1>{{title}}</h1>
        <button class="button" ng-click="openCreatePhotoquestDialog()">Create PhotoQuest</button>
    </div>
    <div class="quest_container">
        <div dir-paginate="quest in quests | itemsPerPage: pageSize" total-items="totalItems"
             current-page="pageNumber"
                >
            <table>
                <tr>
                    <td>
                        <a ng-href="#?path=quest&id={{quest.id}}">
                            <div style="position: relative; width: 200px; height: 200px">
                                <img width="200px" height="200px" ng-src="{{quest.avatar}}"/>
                                <div class="count_widget photoquest_views_count">
                                    {{quest.viewsCount}}
                                </div>
                            </div>
                        </a>
                    </td>
                    <td>
                        <div ng-show="getSignedInUser()">
                            <button class="button" ng-click="toggleFollowState(quest);">
                                {{quest.isFollowing ? "Unfollow" : "Follow"}}
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <div>
                <h1>{{quest.name}}</h1>
            </div>
        </div>
    </div>

    <div>
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="onPageChanged(newPageNumber)"
                                 template-url="html/pagination_template.html">
        </dir-pagination-controls>
    </div>
</div>