<div id="photo_content" ng-controller="PhotoController" >
    <div id="photo_container">
        <shortcut></shortcut>
        <div  class="photo_controls" ng-show="showNextPrevButtons">          
            <button  class="photo_controls_buttons" id="prev_button" ng-click="keyPressed({which: 37})">Prev</button>
            <button class="photo_controls_buttons" id="next_button" ng-click="keyPressed({which: 39})">Next</button>
        </div> 
        <div class="photo">      
            <div id="photo_img" >
                <img id="photo_image" ng-src="{{photo.url}}" alt=""/>
            </div>
            
            <div id="photo_info">
                <div class="photo_date">
                    {{getDisplayDate(photo.addingDate)}}
                </div>
                <div id="photo_likes_count" class="count_widget" ng-click="likePhoto()">
                    <span>{{photo.likesCount + " like it!"}}</span>
                    <span ng-show="photo.yourLike">&nbsp; including You</span>
                </div>
                <a href="#?path=quest&id={{photo.photoquestId}}&photoId={{photo.id}}">
                    <div id="photo_position" class="count_widget">
                        position: {{photo.position}}
                    </div>
                </a>
            </div>
            <div  class="photo_message">
                {{photo.message}}
            </div>         
        </div>
    </div>
    <div style="width: 100%; background:#EFEFEF; padding-top: 15px; padding-bottom: 30px;">
        <div class="photo_main_info_container">
            Published by
            <div class="photo_info_user">
                <div style="width: 50x; height: 50px; float: left;">
                    <img src="img.png" alt="" height="50px" width="50px"/>
                </div>
                <div style="width: 185px;margin-left: 5px; float: left;word-wrap: break-word;">
                    <a href="">Ебло Иван</a>
                </div>
            </div><br />
            In photoquest
            <div class="photo_info_quest">
                <div style="width: 50x; height: 50px; float: left;">
                    <img src="img.png" alt="" height="50px" width="50px"/>
                </div>
                <div style="width: 185px;margin-left: 5px; float: left;word-wrap: break-word;">
                    <a href="">Выеби Осла</a>
                </div>
            </div>
        </div>
        <div class="comments_block" >
            <div class="comment_textarea_container">
                <form>
                    <div>
                        <textarea ng-model="message">
        
                        </textarea>
                    </div>
                    <div class="comment_button_container">
                        <button class="comment_button" ng-click="putComment()">Comment</button>
                    </div>
                </form>
            </div>
            
            <div id="comments_container"
                 ng-if="photo"
                 show-more-load="comments"
                 stopped="{{!photo || !photo.id || commentsUpdatingStopped}}"
                 show-more-id="show_more_comments_button"
                 limit="5"
                 url="//getCommentsOnPhoto?photoId={{photo.id}}" class="wrapper">
                <div  class="single_comment" ng-repeat="comment in comments">
                   
                    <div class="comment_user_photo">     
                    <thumbnail size="50" src="comment.user.avatar"></thumbnail>
                    </div>
                    <div class="comment_text">
                        <a  class="commment_user_link" ng-href="#?profile_{{comment.user.id}}">
                            {{comment.user.name + " " + comment.user.lastName}}
                        </a><br />
                        <span class="comment_date">{{getDisplayDate(photo.addingDate)}}</span><br />
                        <div style="width: 420px; word-wrap: break-word; margin-top: 10px;">
                            <span class="comment">
                                <a ng-href="#?path=profile&id={{comment.toUser.id}}"
                                   ng-show="comment.toUser" style="color: #428bca">
                                    {{comment.toUser.name}},
                                </a>
                                {{comment.message}}
                            </span>
                        </div>
                        <div class="comment_buttons">
                            <div class="comment_likes_container">
                                <div class="count_widget comment_likes_count" ng-click="likeComment(comment)">
                                    <span>{{comment.likesCount + " like it!"}}</span>
                                    <span ng-show="comment.yourLike">&nbsp; including You</span>
                                </div>
                            </div>
                            <a class="delete_button"  ng-show="isMineComment(comment)" ng-click="deleteComment(comment)">
                                Delete
                            </a>
                            <a class="reply_button" ng-click="putComment(comment)">
                                Reply
                            </a>                        
                        </div>
                    </div>
                </div>
                <div  class="show_more_button_container" >
                    <button id="show_more_comments_button" >
                        Show More
                    </button>
                </div>
        </div>
    </div>
    
</div>