<!DOCTYPE html>
<div class="profile_container" ng-controller="ProfileController">
    <div ng-show="id">
        <a ng-href="#?path=photo&id={{avatarId}}">
            <div>
                <thumbnail class="profile_avatar" size="250" src="avatar"></thumbnail>
            </div>
        </a>

        <div class="profile_info_container">
        <span class="profile_user_name">
            {{name + " " + lastName}}
        </span><br/>
            Ukraine, Kharkov<br/> <br/>

            <div ng-if="getSignedInUser().id !== getId()">
                <div id="user_photos_link">
                    <a ng-href="#?path=photos&id={{id}}">
                        Photos of&nbsp;{{name}}
                    </a>
                </div>
                <div id="user_photoquest_link">
                    <a ng-href="#?path=created_quests&id={{id}}">
                        Photoquests of&nbsp;{{name}}
                    </a>
                </div><br />

                <div class="add_friend_button">
                    <button class="button"
                            ng-click="addOrRemoveFriend(user)">
                        {{getToggleFriendStatusButtonName(user)}}
                    </button>
                </div>
            </div>
            <div ng-show="user.relation === 'request_received'">
                <button class="button" ng-click="addOrRemoveFriend(user, true)">
                    Decline friend request
                </button>
            </div>
            <div class="send_message_button">
                <a ng-href="#?path=messages&id={{id}}">
                    <button class="button" ng-show="getSignedInUser()">
                        Write message
                    </button>
                </a>
            </div>

        </div>
        <div>
            <div class="profile_feed_container" ng-include="'html/feed.html'">
            </div>
        </div>
    </div>
</div>