<div style="text-align: left;" ng-controller="RegisterController" ng-show="captchaKey">
    <div id="register_title"><h2>Registration</h2></div>
    <form id="register_form">
        <label>
            Enter your login
        </label>
        <input name="login" ng-model="login" type="text">

        <label>
            Enter your password
        </label>
        <input name="password" ng-model="password" type="password">

        <label>
            Enter your name
        </label>
        <input name="name" ng-model="name" type="text">

        <label>
            Enter your last name
        </label>
        <input name="lastName" ng-model="lastName" type="text">

        <label>
            Select gender
        </label>
        <input type="radio" ng-model="gender" value="male">
        <span class="location_label">Male</span> <br/>
        <input style="margin-bottom: 10px;" type="radio" ng-model="gender" value="female">
        <span class="location_label">Female</span> <br/>

        <br/>
        <label>
            Enter your city
        </label>
        <input id="select_location_input" style="width: 250px; height: 20px;"
               location-input clear-value="true"/>

        <br/>

        <div style="margin-top: 10px;" ng-show="country && city">
            <div>
                <span class="location_label">Country:</span>
                <span class="current_location">{{country}}</span>
            </div>
            <div>
                <span class="location_label">City:</span>
                <span class="current_location">{{city}}</span>
            </div>
        </div>
        <div>
            <img ng-src="{{getCaptchaUrl()}}"/>
        </div>
        <div>
            <label>
                Enter the code
            </label>
            <input ng-model="answer" />
        </div>
        <div id="register_error_message" ng-show="errorMessage">
            {{errorMessage}}
        </div>
        <button
                style="margin-top: 15px; margin-bottom: 20px;" class="button"
                ng-click="register()">
            Register
        </button>
    </form>
</div>