<div>
    <form id="register_form" ng-controller="RegisterController">
        <label>
            Enter your login
            <input name="login" ng-model="login" type="text">
        </label>
        <label>
            Enter your password
            <input name="password" ng-model="password" type="password">
        </label>
        <label>
            Enter your name
            <input name="name" ng-model="name" type="text">
        </label>
        <label>
            Enter your last name
            <input name="lastName" ng-model="lastName" type="text">
        </label>
        <label>
            Choose avatar
            <input type="file" name="file" ng-file-select="onFileSelect($files)"
                   multiple accept="image/*">
        </label>
        <br>
        <button ng-click="register()">Register</button>
    </form>
</div>