<div ng-controller="RegisterController">
    <form id="register_form">
        <label>
            Enter your login
            <input name="login" ng-model="login" type="text">
        </label>
        <label>
            Enter your password
            <input name="password" ng-model="password" type="password">
        </label>
        <label>
            Enter your name
            <input name="name" ng-model="name" type="text">
        </label>
        <label>
            Enter your last name
            <input name="lastName" ng-model="lastName" type="text">
        </label>
        <label>
            Select gender
            <input type="radio" ng-model="gender" value="male">  Male <br/>
            <input type="radio" ng-model="gender" value="female"> Female <br/>
        </label>
        <label >
            Choose avatar
            <input type="file" name="file" ng-file-select="onFileSelect($files)"
                   multiple accept="image/*">
        </label>
        <br/>
        <label>
            Enter your city
            <input location-input clear-value="true" />
        </label>
        <br />
        <div ng-show="country && city">
            <div>
                Country: {{country}}
            </div>
            <div>
                City: {{city}}
            </div>
        </div>
        <button class="button" ng-click="register()">Register</button>

    </form>
</div>