<div id="settings_page" ng-controller="SettingsController">
    <div id="settings">
        <div class="main_info_container">
            <div style="width: 100%; text-align: center;">
                <h2>Main information</h2>
            </div>
            <div class="change_main_info">
                <label>
                    Enter your name
                </label>
                <input name="name" ng-model="name" type="text">
                
                <label>
                    Enter your last name
                </label>
                <input name="lastName" ng-model="lastName" type="text" />
                
                <label>
                    Enter your city
                </label>
                <input id="change_location_input"   style="width: 250px; height: 20px;" location-input clear-value="true"/>
                
    
                <div ng-show="country && city" style="margin-top: 10px;">
                    <div>
                        <span class="location_label">Country:</span> 
                        <span class="current_location">{{country}}</span>
                    </div>
                    <div>
                        <span class="location_label">City:</span> 
                        <span class="current_location">{{city}}</span>
                    </div>
                </div>
    
                <div class="change_button">
                    <button class="button" ng-click="saveProfile()">Save</button>
                    <img src="../images/mini_loading.gif" style="position: relative; top: 5px;" height="20" width="20" class="loading_small"/>
                </div>
                
            </div>
        </div>
        <br/>
        <br/>

        <div class="password_info_container">
            <div style="width: 100%; text-align: center;">
                <h2>Change password</h2>
            </div>
            <div class="change_password">
                
    
                <div style="color: #b10001">
                    {{changePasswordError}}
                </div>
                <label>
                    Old password
                </label>
                    <input name="oldPassword" ng-model="oldPassword" type="text">
                
                <label>
                    New password
                </label>
                    <input name="newPassword" ng-model="newPassword" type="text">
                
                <label>
                    Retype new password
                </label>
                    <input ng-model="retypedPassword" type="text">
                
    
                <div class="change_button">
                    <button class="button" ng-click="changePassword()">Save</button>
                    <img src="../images/mini_loading.gif" style="position: relative; top: 5px;" height="20" width="20" class="loading_small"/>
                </div>
            </div>
        </div>
    </div>
</div>