<div id="settings_page" ng-controller="SettingsController">
    <div id="settings">
        <div class="main_info_container">
            <div style="width: 100%; text-align: center;">
                <h2>{{tr.mainInformation}}</h2>
            </div>
            <div class="change_main_info">
                <label>
                    {{tr.name}}
                </label>
                <input name="name" ng-model="name" type="text">
                
                <label>
                    {{tr.lastName}}
                </label>
                <input name="lastName" ng-model="lastName" type="text" />

                <div>
                    <label>
                        {{tr.country}}
                    </label>
                    <input ng-model="countryName" class="select_location_input" country-input/>
                </div>

                <div ng-show="country">
                    <label>
                        {{tr.city}}
                    </label>
                    <input ng-model="cityName" class="select_location_input" city-input/>
                </div>
                
                <div style="color: #DC143C;">
                    {{getErrorMessage()}}
                </div>

                <div class="change_button" style="display:inline-block;">
                    <button style="float: left;" class="button" ng-click="saveProfile()">{{tr.save}}</button>
                    <img ng-show="changeLoading"
                            src="../images/mini_loading.gif" style="position: relative; top: 3px; float:right;" height="20" width="20" class="loading_small"/>
                </div>
                
            </div>
        </div>
        <br/>
        <br/>

        <div class="password_info_container">
            <div style="width: 100%; text-align: center;">
                <h2>{{tr.changePassword}}</h2>
            </div>
            <div class="change_password">
                
    
                <div style="color: #DC143C;">
                    {{changePasswordError}}
                </div>
                <label>
                    {{tr.oldPassword}}
                </label>
                    <input name="oldPassword" ng-model="oldPassword" type="text">
                
                <label>
                    {{tr.newPassword}}
                </label>
                    <input name="newPassword" ng-model="newPassword" type="text">
                
                <label>
                    {{tr.retypeNewPassword}}
                </label>
                    <input ng-model="retypedPassword" type="text"><br/>
                
    
                <div class="change_button" style="display:inline-block";>
                    <button style="float: left;" class="button" ng-click="changePassword()">{{tr.save}}</button>
                    <img ng-show="changePasswordLoading"
                         src="../images/mini_loading.gif" style="float:right;position: relative; top: 3px;" height="20" width="20" class="loading_small"/>
                </div>
            </div>
        </div>
    </div>
</div>