<div class="add_friend_button"
     ng-show="getToggleFriendStatusButtonName(user) && getSignedInUser() &&
                        getSignedInUser().id != user.id">
    <button style="float: left;" class="button"
            ng-click="addOrRemoveFriend(user)">
        {{getToggleFriendStatusButtonName(user)}}
    </button>
    <img ng-show="user.addFriendLoading" src="../images/mini_loading.gif"
         style="position:relative; float:right;margin-top:2px;"
         height="20" width="20" class="loading_small"/>
</div><br />
<div class="friend_requests_button"
     ng-show="user.relation === 'request_received' || user.relation === 'followed'"
     style="width: 350px; word-wrap: break-word; margin-bottom: 5px; margin-top: -15px;"  >
    <div style="display: inline-block;">
        {{user.name}}
        <span ng-show="user.relation === 'request_received'">
            {{tr.receivedFriendRequestMessage}}
        </span>
        <span ng-show="user.relation === 'followed'">
            {{tr.followedUserMessage(user.gender)}}
        </span>
    </div>
    <br />
    <button ng-click="addOrRemoveFriend(user)"
            style="float: left; margin-right: 5px;"
            class="button" >
        {{user.relation === 'request_received' ? tr.accept : tr.addFriend}}
    </button>
    <button ng-show="user.relation === 'request_received'"
            style="float: left;"
            class="button"
            ng-click="addOrRemoveFriend(user, true)">
        {{tr.decline}}
    </button>
    <img ng-show="user.addFriendLoading" src="../images/mini_loading.gif"
          style="float:left;margin-top:3px;"
          height="20" width="20" class="loading_small"/>

</div>
<div class="send_message_button">
    <a ng-href="#?path=messages&id={{user.id}}">
        <button class="button" ng-show="getSignedInUser() && getSignedInUser().id != user.id">
            {{tr.writeMessage}}
        </button>
    </a>
</div>